<%= cl_image_tag(bar.image_id, class:"bar-card-image", :width=>120, :height=>120, :gravity=>"auto", :crop=>"fill") %>
<div class="bar-card-infos">
  <h2>
    <%= bar.name %>
  </h2>
  <p class="text-small font-bold"><%= bar.bar_type %></p>
  <p class="text-x-small"><%= bar.address %></p>
</div>

<div class="bar-card-count">
  <div class="big-losange">
    <div class="big-losange-interior">
      <h2 class="text-x-small">7</h2>
    </div>
  </div>
  <%= image_tag('icons/group.svg') %>
  <p>Héros</p>
</div>
