<div class="bars-filters">
<%= form_with url: bars_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag params[:q] ? :q : :query,
                      "",
                      class: "d-none"
    %>
    <%= submit_tag "Toutes", name: "", class: (%w[proximity max_players min_players].include?(params[:q]) || (params[:query] && !params[:query].empty?) ) ? "bars-filters-btn" : "bars-filters-btn active" %>
  <% end %>
  <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :q,
                       "proximity",
                       class: "d-none"
    %>
    <%= submit_tag "Les plus proches", name: "", class: params[:q] == "proximity" ? "bars-filters-btn active" : "bars-filters-btn" %>
  <% end %>
  <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :q,
                       "max_players",
                       class: "d-none"
    %>
    <%= submit_tag "Les plus animés", name: "", class: params[:q] == "max_players" ? "bars-filters-btn active" : "bars-filters-btn" %>
  <% end %>
  <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :q,
                       "min_players",
                       class: "d-none"
    %>
    <%= submit_tag "Les plus tranquilles", name: "", class: params[:q] == "min_players" ? "bars-filters-btn active" : "bars-filters-btn" %>
  <% end %>
</div>
