<% content_for :title do %>
  Les <span><%= @bars.count %></span> Tavernes
<% end %>


<div class="search-bar-index">
  <%= render "bars/search"%>
</div>
<%= render "bars/category"%>

<div class="d-flex flex-column gap-2">
  <%# <div class="card-info-bar-index"> %>
    <% @bars.each do |bar| %>
      <%= link_to bar_path(bar), class:"bar-card", data: {filters_target: "bar", count: bar.player_count, id: bar.id} do %>
        <%= render "card", bar: bar %>
      <% end %>
    <% end %>
  <%# </div> %>
</div>

<%# style: "color: inherit;" %>
