<% content_for :title, "#{@bar.name}" %>
<div class="appheros-content-subtitle-wrapper">
  <div class="appheros-content-subtitle">
    <%= @bar.bar_type %>
  </div>
</div>
<%= cl_image_tag(@bar.image_id, class:"bar-content-info-image") %>
<div class="bar-content-text">
  <p class="px-4" style="font-size:22px; text-align:center;"><strong></strong><%= @bar.description %></p>
  <span class="text-small px-2" style="text-align: center;"><%= @bar.address %></span>
</div>
<div class="bar-content-bottom">
  <div class="leaderboard">
    <div class="leaderboard-player first-player">
      <%= cl_image_tag(@user1.image_id, class:'avatar avatar-gold', :width=>100, :height=>100, :gravity=>"face", :crop=>"thumb") %>
      <div class="leadearboard-player-infos">
        <p><%= @user1.username %></p>
        <span class="text-small"><%= @users_with_scores[0].total_score %></span>
      </div>
    </div>
    <div class="leaderboard-player second-player">
      <%= cl_image_tag(@user2.image_id, class:'avatar avatar-silver', :width=>100, :height=>100, :gravity=>"face", :crop=>"thumb") %>
      <div class="leadearboard-player-infos">
        <p><%= @user2.username %></p>
        <span class="text-small"><%= @users_with_scores[1].total_score %></span>
      </div>
    </div>
    <div class="leaderboard-player third-player">
      <%= cl_image_tag(@user3.image_id, class:'avatar avatar-bronze', :width=>100, :height=>100, :gravity=>"face", :crop=>"thumb") %>
      <div class="leadearboard-player-infos">
        <p><%= @user3.username %></p>
        <span class="text-small"><%= @users_with_scores[2].total_score %></span>
      </div>
    </div>
  </div>
  <%= link_to bar_players_path(@bar), class: 'btn button' do %>
    <%= image_tag("icons/swords.svg") %>
    <span class="mx-1">
      Provoquer en duel
    </span>
    <%= image_tag("icons/swords.svg") %>
  <% end %>
</div>
