<% content_for :title, "#{@bar.name}" %>
<div class="appheros-content-subtitle-wrapper">
  <div class="appheros-content-subtitle">
    <%= @bar.bar_type %>
  </div>
</div>
<img src="https://picsum.photos/200/300" alt="" class="bar-content-info-image">
<div class="bar-content-text">
  <p>
    <%= @bar.description %>
  </p>
  <span class="text-small">
    <%= @bar.address %>
  </span>
</div>
<div class="bar-content-bottom">
  <div class="leaderboard">
    <div class="leaderboard-player first-player">
      <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-gold') %>
      <div class="leadearboard-player-infos">
        <p>Perrine</p>
        <span class="text-small">538 points</span>
      </div>
    </div>
    <div class="leaderboard-player second-player">
      <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-silver') %>
      <div class="leadearboard-player-infos">
        <p>Florian</p>
        <span class="text-small">425 points</span>
      </div>
    </div>
    <div class="leaderboard-player third-player">
      <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-bronze') %>
      <div class="leadearboard-player-infos">
        <p>Jerome</p>
        <span class="text-small">387 points</span>
      </div>
    </div>
  </div>
  <%= link_to bar_players_path(@bar), class: 'btn button' do %>
    <%= image_tag("icons/feet.svg") %>
    Se rapprocher
    <%= image_tag("icons/feet.svg") %>
  <% end %>
</div>
