<div class="bar-layout">
  <div class="bar-content-wrapper">
    <div class="bar-content">
      <div class="bar-content-head">
        <div class="bar-content-title">
          <div class="back">
            <% link_to :back do %>
              <%= image_tag('icons/manicule.svg') %>
            <% end  %>
          </div>
          <h1>La Piste</h1>
          <div class="bar-content-subtitle">
            Bar à bières
          </div>
        </div>

        <div class="bar-content-infos">
          <img src="https://picsum.photos/200/300" alt="" class="bar-content-info-image">
          <div class="bar-content-text">
            <p>
              <%= @bar.description %>
            </p>
            <span class="text-small">
              <%= @bar.address %>
            </span>
          </div>
        </div>
      </div>

      <div class="bar-content-bottom">
        <div class="leaderboard">
          <div class="leaderboard-player first-player">
            <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-gold') %>
            <div class="leadearboard-player-infos">
              <p>Supernom</p>
              <span class="text-small">6789 points</span>
            </div>
          </div>
          <div class="leaderboard-player second-player">
            <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-silver') %>
            <div class="leadearboard-player-infos">
              <p>Supernom</p>
              <span class="text-small">6789 points</span>
            </div>
          </div>
          <div class="leaderboard-player third-player">
            <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-bronze') %>
            <div class="leadearboard-player-infos">
              <p>Supernom</p>
              <span class="text-small">6789 points</span>
            </div>
          </div>
        </div>

        <a href="" class="btn button">
          <%= image_tag("icons/feet.svg") %>
          Se rapprocher
        </a>
      </div>

    </div>
  </div>
</div>
