<div class="container-users-scores">
  <div class="d-flex flex-column">
    <div class="users-scores">
      <div class="users-scores-chains">
        <%= image_tag("icons/left_chain.svg") %>
        <%= image_tag("icons/right_chains.svg") %>
      </div>
      <div class="user-scores-wodden-board">
      <div class="users-scores-title">
        <h2>Gagné !</h2>
      </div>
        <div class="crown">
          <%= image_tag("icons/crown.svg") %>
        </div>
        <div class="users-avatars-results">
          <div class="users-scores-avatar-win">
            <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-gold') %>
          </div>
          <div class="users-scores-avatar-loose">
            <%= cl_image_tag("zuvklycksqvqvjkdalx9", class:'avatar avatar-bronze') %>
          </div>
        </div>
        <%#= image_tag("icons/board.svg") %>
      </div>
    </div>
    <!--%= link_to 'Continuer le duel', challenge_game_path(@challenge), class: 'btn button' %-->
    <%= link_to 'Retour aux joueurs', bar_players_path(@challenge.bar), class: 'btn button' %>
  </div>
</div>
<!--% if @winner == @challenge.challenger %-->
      <%# <p>Gagnant: 15 pts<!--%= @challenge.winner_score %>
      <%# <p>Perdant: 6 pts<!--%= @challenge.loser_score %>
    <!--% else %-->
      <!--p>Gagnant: <%= @challenge.loser_score %></!-->
      <!--p>Perdant: <%= @challenge.winner_score %></!-->
    <!--% end %-->
