<% content_for :title, "Challenge" %>
<div class="d-flex flex-column">
  <div class="challenged-card" style="margin-top: 10px;">
  <%= render "players/player_card", user: @challenge.challenged %>
  </div>
  <div class="users-scores">
    <!--% if @winner == @challenge.challenger %-->
      <p>Gagnant: 15 pts<!--%= @challenge.winner_score %></p-->
      <p>Perdant: 6 pts<!--%= @challenge.loser_score %></p-->
    <!--% else %-->
      <!--p>Gagnant: <%= @challenge.loser_score %></!-->
      <!--p>Perdant: <%= @challenge.winner_score %></!-->
    <!--% end %-->
  </div>
  <div class="challenger-card", style="margin-top: 10px;">
    <%= render "players/player_card", user: @challenge.challenger %>
  </div>
  <!--%= link_to 'Continuer le duel', challenge_game_path(@challenge), class: 'btn button' %-->
  <%= link_to 'Voir mon profil', profile_path, class: 'btn button' %>
</div>
