<% content_for :title, "Choisi un jeu" %>


<div class="games-show" data-controller="timer" >
  <canvas id="glslCanvas" data-timer-target="glslCanvas" data-fragment-url="/fragment.glsl"></canvas>
  <div class="defier d-none" data-timer-target="duel">
    <div data-timer-target="firstPlayer">
      <%= render "players/player_card", user: @sender %>
    </div>
    <div class="text-center">
      <%= image_tag("challenges/icone_defier.png")%>
    </div>
    <div style data-timer-target="secondPlayer">
      <%= render "players/player_card", user: @receiver %>
    </div>
  </div>

  <div class="btn-games-choice gap-2" data-timer-target="gamesChoice">
    <%= link_to 'Memory', memory_challenge_game_path(@challenge), class:'btn button w-100', data: { action: "click->timer#buttonClick" } %>
    <%= link_to 'Tap ta bière !', taptabiere_challenge_game_path(@challenge), class:'btn button w-100', data: { action: "click->timer#buttonClick" } %>
    <%= link_to 'Jeu de ton bar', customgame_challenge_game_path(@challenge), class:'btn button w-100', data: { action: "click->timer#buttonClick" } %>
  </div>
</div>
