<% content_for :title, "Challenges" %>

<div class="py-5">
  <%= render "players/player_card", user: @sender %>

  <div>
    <%= image_tag("challenges/icone_defier.png") %>
    <h1>Versus</h1>
  </div>

  <%= render "players/player_card", user: @receiver %>

  <div>
    <%= link_to 'Déclarer le vainqueur', profile_path, class:'btn button w-100' %>
  </div>
</div>

<div>
  <%= link_to challenge_result_path(@challenge), class:"text-decoration-none" do %>
    <%= render "players/player_card", user: @sender %>
  <% end %>

  <%= link_to challenge_result_path(@challenge), class:"text-decoration-none" do %>
    <%= render "players/player_card", user: @receiver %>
  <% end %>
</div>
