<div class="player-card">
  <%= cl_image_tag(user.image_id, :width=>100, :height=>100, :gravity=>"face", :crop=>"thumb", class:"challenge-avatar") %>
  <div class="player-card-details">

    <h2 class="player-card-details-username"><%= user.username %></h2>

    <div class="player-card-details-tags text-small">

      <% playerScore = Score.where(user: user, bar: @bar).sum(:score) %>
      <% case %>
      <% when playerScore < 25 %>
      <div class="player-card-details-pills", style="background-color: #4C9540;">
        <div class="status-dot">
          <div class="player-card-details-tags-online"></div>
          <div class="player-card-details-tags-online-shine"></div>
        </div>
        <span>Nouveau Venu</span>
      <% when playerScore < 50 %>
      <div class="player-card-details-pills", style="background-color: #405395;">
        <div class="status-dot">
          <div class="player-card-details-tags-online"></div>
          <div class="player-card-details-tags-online-shine"></div>
        </div>
        <span>Habitué</span>
      <% when playerScore < 75 %>
      <div class="player-card-details-pills", style="background-color: #7F4095;">
        <div class="status-dot">
          <div class="player-card-details-tags-online"></div>
          <div class="player-card-details-tags-online-shine"></div>
        </div>
        <span>Connaisseur</span>
      <% when playerScore < 100 %>
      <div class="player-card-details-pills", style="background-color: #ED6418;">
        <div class="status-dot">
          <div class="player-card-details-tags-online"></div>
          <div class="player-card-details-tags-online-shine"></div>
        </div>
        <span>Pillier</span>
      <% else %>
      <div class="player-card-details-pills", style="background-color: #ED1818;">
        <div class="status-dot">
          <div class="player-card-details-tags-online"></div>
          <div class="player-card-details-tags-online-shine"></div>
        </div>
        <span>Héros du Bar</span>
      <% end %>

      </div>
      <div class="player-card-details-pills player-age-details">
        <span><%= user.age %> ans</span>
      </div>
    </div>

    <%= button_to bar_challenges_path(@bar, challenged_id: user.id, game_slug: :custom_game), method: :post, class: controller_name == "challenges" ? "d-none" : "button" do %>
      <%= image_tag('icons/swords.svg') %>
        <span>Défier</span>
      <%= image_tag('icons/swords.svg') %>
    <% end %>
  </div>
</div>
